table {
  width: 70%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}

table tr th {
  text-align: center;
  background-color: aqua;
  padding: 10px;
}

tr th:nth-child(2) {
  width: 70%;
}

tr td:nth-child(2) {
  text-align: left;
}

tr td div {
  width: 68%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new {
  background-color: red;
  color: white;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 4px;
  margin-left: 5px;
}

.attach::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("clip.png") no-repeat center/contain;
  margin-left: 5px;
}
