/* 아코디언 공통 */
.accordion {
  width: 400px;
  margin: 50px auto;
}

.accordion-item {
  border: 1px solid #ccc;
}

/* 헤더 */
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 🔥 핵심 수정 */
  background-color: #f1f1f1;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

/* 제목 영역 */
.title {
  display: flex;
  align-items: flex-start; /* 🔥 이것도 중요 */
  gap: 10px;
  flex: 1;
  word-break: break-all;
}

/* Q 아이콘 위치 고정 */
.accordion-header .title span {
  margin-top: 3px;
}
.arrow {
  font-size: 16px;
  transition: transform 0.3s;
  flex-shrink: 0;
}

.arrow.active {
  transform: rotate(180deg);
}

.accordion-content.show {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.accordion-content {
  display: none;
  padding: 15px;
  padding-left: 25px;
  background-color: #fff;
}

/* Q/A 공통 */
.accordion-header .title span,
.accordion-content span {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.accordion-header .title span {
  background-color: green;
  flex-shrink: 0; 
}

.accordion-content span {
  background-color: red;
  display: block; 
  margin-bottom: 5px;
}

.accordion-content p {
  margin: 0;
}